{% extends "base.html" %}

{% block content %}
<div class="bg-light py-2">
    <div class="container d-flex justify-content-between align-items-center">
        <h2>All Unavailabilities</h2>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select Referee
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'all_unavailabilities_list' %}">All Referees</a>
                {% for referee in referees %}
                    <a class="dropdown-item" href="{% url 'all_unavailabilities_list' %}?referee={{ referee.pk }}">
                        {{ referee.name }} {{ referee.surname }} ({{ referee.licence_type.name }})
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% if referee_unavailabilities %}
    <ul class="list-group text-center mt-4">
        {% for referee, all_unavailabilities in referee_unavailabilities %}
        <li class="list-group-item">
            <div class="text-left">
                <strong>{{ referee.name }} {{ referee.surname }} ({{ referee.licence_type.name }})</strong>
                <ul class="list-unstyled mt-2">
                    {% for unavailability in all_unavailabilities %}
                        <li>
                            {{ unavailability.date_from|date:'d. m. Y' }} - {{ unavailability.date_to|date:'d. m. Y' }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </li>
        {% empty %}
            <li class="list-group-item">No unavailabilities for this referee.</li>
        {% endfor %}
    </ul>
{% else %}
    <p class="text-center">No referees with unavailabilities available.</p>
{% endif %}
{% endblock %}