{% extends 'base.html' %}

{% block content %}
    <div class="d-flex align-items-center">
        <h1 class="mr-2">{{ referee.name }} {{ referee.surname }}</h1>
        {% if user.is_authenticated %}
            {% if user == referee.profile.user or perms.referees.change_referee %}
                <a href="{% url 'profile_referee_update' referee.id %}" class="btn btn-link">✏️</a>
            {% endif %}
        {% endif %}
        {% if perms.referees.delete_referee %}
            <a href="{% url 'profile_referee_delete' referee.id %}" class="btn btn-link text-danger">❌</a>
        {% endif %}
    </div>

    <p style="margin-bottom: 30px;"></p>

    <p><strong>City:</strong> {{ referee.city }}</p>
    <p><strong>Licence Number:</strong> {{ referee.licence_number }}</p>
    <p><strong>Licence Type:</strong> {{ referee.licence_type }}</p>
    <p><strong>Email:</strong> {{ referee.email }}</p>
    <p><strong>Phone:</strong> {{ referee.phone }}</p>
    <p><strong>Rating:</strong> {{ referee.rating }}</p>

    {% if user.is_authenticated and assigned_matches %}
    <p><strong>Assigned Matches:</strong></p>
    <ul>
        {% for match in assigned_matches %}
            <li>
                <strong>{{ match.date_time|date:"d.m.Y H:i" }} in {{ match.city }}:</strong>
                {{ match.competition_in_season.competition.name }} - {{ match.home_team }} vs {{ match.away_team }}
                {% for delegation in match.delegated_referees.all %}
                    {% if delegation.referee == referee %}
                        <strong>(Role: {{ delegation.referee_role }})</strong>
                    {% endif %}
                {% endfor %}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p></p>
{% endif %}

{% endblock %}