{% extends 'form.html' %}

{% block content %}
    {% if validlink %}
        <h2>Set New Password</h2>
        <form method="post">
            {% csrf_token %}
            <table>{{ form.as_table }}</table>
            <br/>
            <div class="d-flex justify-content-between">
                <input id="id_submit" type="submit" value="Set New Password" class="btn btn-primary">
            </div>
        </form>
    {% else %}
        <p>The password reset link was invalid, possibly because it has already been used.
            Please request a new password reset.</p>
    {% endif %}
{% endblock %}