{% extends "base.html" %}

{% block content %}
<div class="bg-light py-2">
    <div class="container text-center">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Season {{ current_season.name }}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for season in seasons %}
                    <a class="dropdown-item" href="?season={{ season.id }}"{% if season == current_season %} style="font-weight: bold; background-color: #69a7f4; color: white;"{% endif %}>
                        {{ season.name }}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% if current_season %}
    <ul class="list-group text-center">
        {% for competition_in_season, teams in competition_teams %}
            <li class="list-group-item d-flex justify-content-start align-items-start">
                <div class="flex-shrink-0 text-left" style="flex-basis: 33.33%;">
                    <a href="{% url 'competition_matches' competition_in_season.competition.pk %}">
                        <strong>{{ competition_in_season.competition.name }}</strong>
                    </a>
                </div>
                <div class="flex-grow-1 text-left" style="flex-basis: 66.67%;">
                    <ul class="list-unstyled mt-2">
                        {% for team in teams %}
                            <li>
                                <a href="{% url 'team_detail' team.id %}">{{ team.name }}</a>
                            </li>
                        {% empty %}
                            <li>No teams available</li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
        {% empty %}
            <li class="list-group-item">No competitions available for this season.</li>
        {% endfor %}
    </ul>
{% else %}
    <p class="text-center">No current season available.</p>
{% endif %}
{% endblock %}